# Virtual environment
.venv/

# MLflow local runs (tidak perlu di-commit, CI yang generate)
mlartifacts/

# Dataset (biasanya besar)

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# OS
.DS_Store
Thumbs.db